

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


p{
	margin: 0 auto;
	font-family: Helvetica;
	font-size: 11px;
	line-height:16px;
	color:#949596;
}
h1{
	font-size:24px;
	font-family:Arial;
	line-height:1.3em;
	color:#895d33;
	margin:0px;
}
h2{
	font-size:16px;
	font-family:Helvetica;
	color:#895d33;
	font-weight:bold;
	text-transform:uppercase;
	line-height:1em;
	margin: 10px;
}
#main-menu{
	position:absolute;
	top:120px;
	left:0px;
	right:0px;
	background-color:#895d33;
	padding:0px;
	margin:0px;
}
#main-menu li{
	float:left;
	board-right:1px solid;
}

#main-menu li a {
	display:block;
	padding:15px 20px;
	font-size:14px;
	margin:-8px;
	font-family:Helvetica;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	}
	/*make logo click to home & change color of FAQS*/

#top-nav {
	position:absolute;
	top:10px;
	right:200px;
	float:right;
	font-size:11px;
	font-family:Helvetica;
	text-decoration:none;
	color:#895d33;
}
#top-nav a{
	font-family:helvetica;
	text-decoration:none;
	color:#895d33;
}

#site-header h1 a {
	 display:block;  
	 width:300px; 
	 height:150px;
	 background:url(images/logo.png) no-repeat top left; 
	 background-color:#EFF4DA; 
	 text-indent:-9999px;
}
#content-wrapper {
	position:relative;
	left:30px;
	right:0px;
	top:30px;
	width:1000px;
}
#content {
	width:400px;
}
#page {
	position:absolute;
	left:0px;
	top:0px;
	width:400px;
}
#sidebar {
	position:absolute;
	top:0px;
	right:0px;
	width:400px;
	font-family:Arial;
	color:#895d33;
	text-decoration:none;
}
#sidebar h1{
	text-transform:uppercase;
	font-family:arial;
	font-size:16px;
	line-height:1em;
	font-weight:bold;
}
#footer-wrapper {
	positon:relative;
	
}