

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.4em;
	color: gray;
	margin:0 auto;
	font-size:16px;
	line-spacing: 1.3em;
	max-width:1040px;
	font-family: 'Mate', serif;
	}

p {
	font-size:1em;
	}


#site-header {
	position: relative;
	padding: 20px;
	text-align:center;
	}	

#site-header img {
	max-height:300%;
	max-width:300px;
	}
	
#main-nav {
	height:80px;
	}

#main-nav ul li a{
	display:inline-block;
	text-decoration:none;
	padding:10px;
	background-color:white;
	margin:20px;
	text-align:center;
	font-size:1.25em;
	}
	
#main-nav ul {
	text-align:center;
	}

#main-nav li {
	display:inline-block;
	position:relative;
	}
	
#main-nav li ul {
	display:none;
	position:absolute;
	top:70px;
	background-color:white;
	}	
	
#main-nav li:hover ul{
	z-index:1000;
	display:block;
	font-size:.8em;
	}	
	
#main-nav ul li a:hover {
	color:#17bdbd;
	}
		
	
a {
	color:gray;
	font-size:1em;
	letter-spacing:.1em;
	}
	
/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
	
.article {
	float:left;
	width:27%;
	padding:0px 3%;
	position:relative;
	color:gray;
	}
	
.article h1 {
	text-transform:uppercase;
	color:#17bdbd;
	padding: 0 0 10px 0;
	}
	
.article h2 {
	text-transform:uppercase;
	color:#17bdbd;
	padding:20px 0 10px 0;
	}

.article img {
	max-width:100%;
	padding:0 0 40px 0;
	}
		
#site-footer {
	position:relative;
	max-width:1040px;
	height:100px;
	margin:0 auto;
	}
	
#icons {
	left:20px;
	display:inline-block;
	float:left;
	margin:0 3%;
	}

#icons img {
	float:left;
	display:inline-block;
	height:30px;
	width:30px;
	}

/*resize icons to correct size*/

#copyright {
	float:right;
	font-size:.8em;
	margin:0 3%;
	}
	
	
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*responsive*/

@media screen and (max-width:800px) {
	body {
		font-size:1em;
		}
	.article {
		width:43%;
		padding:40px 3%;	
		}	
}

@media screen and (max-width:600px) {
	body {
		font-size:1em;
		}
	.article {
		width:100%;
		padding:40px 3%;
		}	
}




/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


