

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.3em;
	color: black;
	margin:0 auto;
	font-size:16px;
	line-spacing: 1.3em;
	max-width:1040px;
	font-family: 'Mate', serif;
	}

p {
	font-size:1em;
	}


#site-header {
	position: relative;
	padding: 20px;
	text-align:center;
	}	

#site-header img {
	max-height:300%;
	max-width:300px;
	}
	
#main-nav {
	height:40px;
	}

#main-nav ul li a{
	display:inline-block;
	text-decoration:none;
	color:blue
	padding:10px;
	background-color:white;
	margin:20px;
	text-align:center;
	}
	
#main-nav ul {
	text-align:center;
	}

#main-nav li {
	display:inline-block;
	}

	
a {
	color:gray;
	text-transform:uppercase;
	font-size:1em;
	letter-spacing:.1em;
	}
	
/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

#boxes {
	max-width:1040px;
	height:500px;
	position:relative;
	margin:40px 0 0px 0;
	}
	
.article {
	float:left;
	width:27%;
	padding:0 3%;
	position:relative;
	text-align:center;
	}
	
.article div {
    display:none;
	position:absolute;
	text-transform:uppercase;
	max-width:100%;
	bottom:120px;
	text-align:center;
	}
	

.article:hover div {
    display:block;
    width:
	}
	
.article:hover img {
    opacity:0.4;

	}

.article img {
	max-width:100%;
	padding:0 0 40px 0;
	}
		
#site-footer {
	position:relative;
	bottom:0;
	max-width:1040px;
	height:100px;
	}
	
#icons {
	position:absolute;
	top:0;
	left:20px;
	float:left;
	}

#icons img {
	width:30px;
	height:30px;
	}

#copyright {
	position:absolute;
	top:0;
	right:20px;
	float:left;
	font-size:.8em;
	}
	
	
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


